Package: uc8100a-me-kernel
Source: uc8100a-me-system
Version: 1.0.0+deb9
Architecture: armhf
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>
Installed-Size: 4309
Section: admin
Priority: required
Homepage: https://www.moxa.com/
Description: UC-8100A-ME Flattened Image of Kernel
 Flattened image contains kernel image.
