Package: uc8100a-me-moxa-firmware
Source: uc8100a-me-system
Version: 1.0.0+deb9
Architecture: armhf
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>
Installed-Size: 25
Section: admin
Priority: required
Homepage: https://www.moxa.com/
Description: UART firmware on moxa UC8100A-ME series.
