KERNEL!="sd[a-z]*", GOTO="auto_mount_end"

# on USB LED
ACTION=="add", KERNELS=="usb2", SUBSYSTEMS=="usb", RUN+="/bin/bash -c '/bin/echo 1 > /sys/class/leds/UC-8100A-ME\:GREEN\:USB/brightness'"
ACTION=="add", PROGRAM!="/sbin/blkid %N", GOTO="auto_mount_end"
# Set environment
ACTION=="add", IMPORT{program}="/sbin/blkid -o udev -p -s TYPE -s LABEL %N"

# Global mount options
ACTION=="add", ENV{mount_options}="relatime,users"

# Filesystem specific options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat", ENV{mount_options}="%E{mount_options},showexec,umask=0"
ACTION=="add", ENV{ID_FS_TYPE}=="ntfs", ENV{mount_options}="%E{mount_options},utf8,umask=0"
ACTION=="add", ENV{ID_FS_TYPE}=="ext2", ENV{mount_options}="%E{mount_options} -t ext2"
ACTION=="add", ENV{ID_FS_TYPE}=="ext3", ENV{mount_options}="%E{mount_options} -t ext3"
ACTION=="add", ENV{ID_FS_TYPE}=="ext4", ENV{mount_options}="%E{mount_options} -t ext4"

# Get mount point
# use basename to correctly handle labels such as ../mnt/foo
ACTION=="add", ENV{ID_FS_LABEL}=="?*", PROGRAM="/usr/bin/basename '%E{ID_FS_LABEL}'", ENV{dir_name}="%c"
ACTION=="add", ENV{dir_name}=="", ENV{dir_name}="usb-%k"

# Main action
ACTION=="add", ENV{dir_name}!="", RUN+="/bin/mkdir -p '/media/%E{dir_name}'", RUN+="/bin/mount -o %E{mount_options} /dev/%k '/media/%E{dir_name}'"

ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l '/media/%E{dir_name}'", RUN+="/bin/rmdir '/media/%E{dir_name}'"
ACTION=="remove", KERNELS=="usb2", SUBSYSTEMS=="usb", RUN+="/bin/bash -c '/bin/echo 0 > /sys/class/leds/UC-8100A-ME\:GREEN\:USB/brightness'"

LABEL="auto_mount_end"

