Source: uc8100a-me-system
Section: admin
Priority: required
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: uc8100a-me-base-system
Architecture: any
Depends: ${misc:Depends}, uc8100a-me-kernel, uc8100a-me-modules-std, uc8100a-me-configs, moxa-led-control, moxa-push-button, moxa-uart-control, moxa-cellular-utils, moxa-cellular-signald, moxa-type-a-img-setdef, moxa-type-a-img-p3-rfs
Description: Base system for UC-8100A-ME
 It contains the necessary tools for setting up UC-8100A-ME

Package: uc8100a-me-kernel
Architecture: any
Depends: ${misc:Depends},
Description: UC-8100A-ME Flattened Image of Kernel
 Flattened image contains kernel image.

Package: uc8100a-me-modules-std
Architecture: any
Depends: ${misc:Depends},
Description: UC-8100A-ME standard kernel modules
 The Linux standard kernel modules for use on UC-8100A-ME

Package: uc8100a-me-configs
Architecture: all
Depends: ${misc:Depends},
Description: UC-8100A-ME platform configuration file
 The platform-related configuration items are recoreded in this file,
 these items will be referred to other platform packages

Package: uc8100a-me-sparklan-firmware
Architecture: any
Depends: ${misc:Depends},
Description: Sparklan 160 ACN WiFi module firmware on moxa UC2100A-ME series.

Package: uc8100a-me-moxa-firmware
Architecture: any
Depends: ${misc:Depends},
Description: UART firmware on moxa UC8100A-ME series.

