Source: uc8100a-me-system
Section: admin
Priority: required
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: uc8100a-me-base-system
Architecture: any
Depends: ${misc:Depends},
         uc8100a-me-kernel (= ${binary:Version}),
         uc8100a-me-modules-std (= ${binary:Version}),
         uc8100a-me-configs (= ${binary:Version}),
         uc8100a-me-sparklan-firmware (= ${binary:Version}),
         moxa-led-control (>= 1.1.0+deb9),
         moxa-push-button (>= 1.1.2+deb9),
         moxa-uart-control (>= 1.1.3+deb9),
         moxa-cellular-utils (>= 2.0.1),
         moxa-cellular-signald (>= 2.0.1),
         moxa-ublox-config-utils (>= 1.0.3),
         moxa-wifi-utils (>= 1.8.0),
         moxa-wifi-signald (>= 1.8.0),
         tpm2-tools (= 1.1-1),
         u-boot-tools (>= 2016.11+dfsg1-4),
         moxa-firmware-tools (>= 1.0.11+deb9),
         libmoxa-gpio-control1 (>= 1.0.0+deb9),
         libmoxa-gpio-control-dev (>= 1.0.0+deb9),
         libmoxa-buzzer-control1 (>= 1.0.0+deb9),
         libmoxa-buzzer-control-dev (>= 1.0.0+deb9),
         libmoxa-led-control1 (>= 1.1.0+deb9),
         libmoxa-led-control-dev (>= 1.1.0+deb9),
         libmoxa-push-button1 (>= 1.1.2+deb9),
         libmoxa-push-button-dev (>= 1.1.2+deb9),
         libmoxa-uart-control1 (>= 1.1.3+deb9),
         libmoxa-uart-control-dev (>= 1.1.3+deb9)
Conflicts: uc8100a-me-moxa-firmware
Replaces: uc8100a-me-moxa-firmware
Description: Base system for UC-8100A-ME
 It contains the necessary tools for setting up UC-8100A-ME

Package: uc8100a-me-kernel
Architecture: any
Depends: ${misc:Depends},
Description: UC-8100A-ME Flattened Image of Kernel
 Flattened image contains kernel image.

Package: uc8100a-me-modules-std
Architecture: any
Depends: ${misc:Depends},
Description: UC-8100A-ME standard kernel modules
 The Linux standard kernel modules for use on UC-8100A-ME

Package: uc8100a-me-configs
Architecture: all
Depends: ${misc:Depends},
Description: UC-8100A-ME platform configuration file
 The platform-related configuration items are recoreded in this file,
 these items will be referred to other platform packages

Package: uc8100a-me-sparklan-firmware
Architecture: any
Depends: ${misc:Depends},
Description: Sparklan 160 ACN WiFi module firmware on moxa UC-8100A-ME series.
